<title>Life Time</title>
<div class="text-center">
    <h2>Controller Operations</h2>
    <p>Trasient: @ViewBag.Transient.OperationId</p> 
    <p>Scoped: @ViewBag.Scoped.OperationId</p> 
    <p>Singleton: @ViewBag.Singleton.OperationId</p> 
    <p>SingletonInstance: @ViewBag.SingletonInstance.OperationId</p> 

    <h2>Controller Operation services</h2>
    <p>Trasient: @ViewBag.Service.TransientOperation.OperationId </p>
    <p>Scoped: @ViewBag.Service.ScopedOperation.OperationId</p> 
    <p>Singleton: @ViewBag.Service.SingletonOperation.OperationId</p> 
    <p>SingletonInstance: @ViewBag.Service.SingletonInstanceOperation.OperationId</p> 
</div>
